{% extends 'base.html'%}  

<title>
  {% block title %}
    Записи сообщества {{ group.title }}
  {% endblock %}
</title>

    
    <main>
      {% block content %}
      {% for post in posts %}
      <div class="container py-5">
        <h1> {{ group.title }} </h1>
        <p>
          {{ group.description }}
        </p>
        <article>
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
        <p>{{ post.text }}</p>
        {% if not forloop.last %}<hr>{% endif %}
        </article>
      </div>
      {% endfor %}
      {% endblock %}  
    </main>
</html>